/*********************************/
/* ****** GENERAL STYLING ****** */
/*********************************/

/*SECTIONS*/

h1 {
	font-family: 'Lobster', cursive;
}

.projects > h1 {
	width: 100%;
	text-align: center;
}

.cloud > h4 {
	text-align: center;
}

.overlord > .content-text, .gps > .content-text, .austin-art > .content-text, .click-party > .content-text
{
	text-align: center;
}

.title, .personal 
{
	height: 100vh;
	width: 100%;
	left: -1%;
}

.cloud {
	color: #FCFCFC;
}



.title {
	background-image: url('https://scontent-dft4-2.xx.fbcdn.net/t31.0-8/12191245_10204888988855012_6857313823967303381_o.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.welcome {
	width: 100%;
	min-height: 100vh;
	left: -1%;
}

.welcome {
	background-color: #FCFCFC;
	color: #2F2F2F;
}

.skills {
	width: 100%;
	left: -1%;
	min-height: 70vh;
	background-color: #F06543;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
	flex-flow: wrap;

}

.skill-box > h4, .skill-box > p {
	text-align: center;
}

.skills-box {
	width: 50%;
	margin-bottom: 5%;
}

.icon, .skills > .content-text > h1 {
	text-shadow:
	    -1px -1px 0 #222222,
	    1px -1px 0 #222222,
	    -1px 1px 0 #222222,
	    1px 1px 0 #222222;
}

.icon {
	font-size: 5em;
	width: 100%;
	text-align: center;
	color: #FCFCFC;
}

button > i {
	margin-right: 10px;
}

.skills > .content-text {
	flex-basis: 30em;
	order: 1;
	margin-bottom: 2em;
}

.skills-gallery {
	order: 2;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	align-items: baseline;
}

.skill-box {
	width: 20%;
	flex-basis: 30em;
}

.projects {
	width: 100%;
	left: -1%;
}

.projects {
	background-color: #FCFCFC;	
}

.contact {
	background-color: #222222;
}

/*ELEMENTS*/
h1 {
	color: #F06543;
}

.skills > .content-text {
	text-align: center;
}

.title > h1 {
	color: #FCFCFC;
	margin: auto;
	text-align: center;
}

.skills > .content-text > h1 {
	color: #FCFCFC;
	font-size: 2.25em;
}

.gps > a > img, .austin-art > a > img, .overlord > a > img, .click-party > a > img {
		border: 6px solid #222222;
		border-radius: 10px;
}

p > a {
	color: #F06543;
}

p, h4, .message {
	font-family: 'Raleway', sans-serif;
}

/* ****** FORM STYLING ****** */

.message {
    width: 40%;
    padding: 1em;
}

.message div + div {
    margin-top: 1em;
}

label {
    color: #FCFCFC;
    display: inline-block;
    width: 100%;
    text-align: left;
}

input, textarea {
    font: 1.2em sans-serif;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    color: white;
    background-color: rgba(0,0,0,.2);
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

button {
    color: white;
    background-color: rgba(0,0,0,.2);
    margin-left: .5em;
    border: 1px solid #999;
}

/* ****** LARGER THAN IPHONE ****** */

@media only screen and (min-device-width: 668px) {

	.cloud > img {
		margin-left: 25%;
		width: 15em;
	}



	.contact {
		min-height: 70vh;
	}

	.overlord > a > img, .gps > a > img, .austin-art > a > img, .click-party > a > img {
		height: 28em;
		width: 28em;
	}

	.title, .welcome, .projects, .contact {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}
	
	.projects > .gps, .projects > .austin-art, .projects > .overlord, .projects > .click-party {
		width: 50%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		order: 1;
	}

	.social-media, .welcome > .content-text {
		flex-basis: 30em;
		order: 2;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}

	.skills-gallery {
		order: 2;
		display: flex;
	}
	
	.content-text {
		font-size: 20px;
	}
	
	.message, .welcome > .content-text, .gps > .content-text, .austin-art > .content-text, .overlord > .content-text, .click-party > .content-text 
	{
		flex-basis: 30em;
		order: 1;
		text-align: center;
	}

	.title > h1 {
		font-size: 7em;
	}

	.welcome > img, .gps > a, .austin-art > a, .overlord > a, .click-party > a {
		flex-basis: 30em;
		order: 2;
		width: 18em;
	}

	a > img {
		width: 100%;
	}

	.social-media > a > img {
		padding-top: 4%;
		padding-bottom: 4%;
		width: 50%;
	}

	.gps > a, .austin-art > a, .overlord > a, .click-party > a {
		padding-top: 2%;
		padding-bottom: 2%;
	}

}

/* ****** IPHONE 6 AND SMALLER ****** */

@media only screen and (max-device-width: 667px) {

	.cloud > img {
		margin-left: 25%;
		width: 30em;
		margin-top: 15%;
	}


	.cloud > h4 {
		font-size: 5em;
	}

	.contact {
		min-height: 20vh;
	}

	.skills-gallery {
		flex-flow: column;
		align-items: center;
	}

	.skill-box {
		width: 80%;
		margin: 5% 0% 5% 0%;
	}

	.icon {
		font-size: 10em;
		text-align: center;
	}

	.title, .welcome, .skills, .projects, .projects > .gps, .projects > .austin-art, .projects > .overlord, .projects > .click-party 
	{
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
		justify-content: space-around;
	}
	
	.welcome > .content-text, .gps > .content-text, .austin-art > .content-text, .overlord > .content-text, .click-party > .content-text 
	{
		width: 60%;
		order: 1;
		margin: auto;
	}
	
	.content-text {
		font-size: 2.5em;
	}
	
	.skills > .content-text {
		width: 60%;
		order: 1;
		margin-top: 5%;
	}
	
	.gps > a, .austin-art > a, .overlord > a, .click-party > a {
		padding-top: 10%;
		padding-bottom: 10%;
	}

	.title > h1 {
		font-size: 10em;
	}

	h1 {
		font-size: 2em;
	}

	h4 {
		font-size: .75em;
	}
	
	.welcome > img, .gps > a, .austin-art > a, .overlord > a, .click-party > a {
		width: 60%;
		order: 2;
		margin: auto;
	}

	a > img {
		width: 100%;
	}

	.welcome > .content-text {
		margin-top: 10%;
	}

	.welcome > .content-text > h1 {
		margin-bottom: 10%;
	}

	.overlord > a > img, .gps > a > img, .austin-art > a > img, .click-party > a > img {
		height: 43em;
		width: 43em;
	}

	.message {
		width: 80%;
		font-size: 3em;
		margin-left: 10%;
		text-align: center;
/*		margin-left: 7em;
*/	}

	.social-media > a > img {
		width: 18%;
		margin: 10% 5%;
	}

	.social-media {
		text-align: center;
	}

	.skill-box > p {
		font-size: 3em;
	}

	.skill-box > h4 {
		font-size: 4em;
	}

	.title {
		background-image: url('https://scontent-dft4-2.xx.fbcdn.net/t31.0-8/12191245_10204888988855012_6857313823967303381_o.jpg');
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}

	.skills > .content-text {
		margin-bottom: 10%;
	}

}

