/*********************************/
/* ****** GENERAL STYLING ****** */
/*********************************/

/*SECTIONS*/

.title, .skills, .personal, .contact 
{
	height: 100vh;
	width: 100%;
	left: -1%;
}

.title {
	background-image: url('https://scontent-dft4-2.xx.fbcdn.net/t31.0-8/12191245_10204888988855012_6857313823967303381_o.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.welcome {
	width: 100%;
	min-height: 100vh;
	left: -1%;
}

.welcome {
	background-color: #FCFCFC;
	color: #2F2F2F;
}

.skills {
	background-color: #F06543;	
}

.projects {
	width: 100%;
	left: -1%;
}

.projects {
	background-color: #FCFCFC;	
}

.contact {
	background-color: #222222;
}

/*ELEMENTS*/
.title > h1 {
	margin: auto;
	text-align: center;
}

h1 {
	color: #F06543;
	text-shadow:
	    -1px -1px 0 #222222,
	    1px -1px 0 #222222,
	    -1px 1px 0 #222222,
	    1px 1px 0 #222222; 
}

.gps > a > img, .austin-art > a > img, .overlord > a > img, .click-party > a > img {
		border: 6px solid #222222;
		border-radius: 10px;
}

p > a {
	color: #F06543;
}

/* ****** FORM STYLING ****** */

.message {
    width: 40%;
    padding: 1em;
}

.message div + div {
    margin-top: 1em;
}

label {
    color: #FCFCFC;
    display: inline-block;
    width: 100%;
    text-align: left;
}

input, textarea {
    font: 1.2em sans-serif;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    color: white;
    background-color: rgba(0,0,0,.2);
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

button {
    color: white;
    background-color: rgba(0,0,0,.2);
    margin-left: .5em;
    border: 1px solid #999;
}

/* ****** LARGER THAN IPHONE ****** */

@media only screen and (min-device-width: 668px) {

	.title > h1 {
		font-size: 10em;
	}

	.content-text {
		font-size: 20px;
	}

	.title, .welcome, .skills, .projects, .contact {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}

	.message, .welcome > .content-text, .gps > .content-text, .austin-art > .content-text, .overlord > .content-text, .click-party > .content-text 
	{
		flex-basis: 30em;
		order: 2;
	}

	.welcome > img, .gps > a, .austin-art > a, .overlord > a, .click-party > a {
		flex-basis: 30em;
		order: 2;
		width: 18em;
	}

	a > img {
		width: 100%;
	}

	.social-media, .welcome > .content-text {
		flex-basis: 30em;
		order: 1;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}

	.social-media > a > img {
		padding-top: 4%;
		padding-bottom: 4%;
		width: 50%;
	}

	.projects > .gps, .projects > .austin-art, .projects > .overlord, .projects > .click-party {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		order: 1;
	}

	.skills > .content-text {
		flex-basis: 30em;
		order: 1;
	}

	.gps > a, .austin-art > a, .overlord > a, .click-party > a {
		padding-top: 2%;
		padding-bottom: 2%;
	}

}

/* ****** IPHONE 6 AND SMALLER ****** */

@media only screen and (max-device-width: 667px) {

	.gps > a, .austin-art > a, .overlord > a, .click-party > a {
		padding-top: 10%;
		padding-bottom: 10%;
	}

	.title > h1 {
		font-size: 10em;
	}

	.content-text {
		font-size: 2.5em;
	}

	h1 {
		font-size: 2em;
	}

	h4 {
		font-size: .75em;
	}

	.title, .welcome, .skills, .projects, .projects > .gps, .projects > .austin-art, .projects > .overlord, .projects > .click-party 
	{
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
		justify-content: space-around;
	}

	.welcome > .content-text, .gps > .content-text, .austin-art > .content-text, .overlord > .content-text, .click-party > .content-text 
	{
		width: 60%;
		order: 1;
		margin: auto;
	}

	.welcome > img, .gps > a, .austin-art > a, .overlord > a, .click-party > a {
		width: 60%;
		order: 2;
		margin: auto;
	}

	a > img {
		width: 100%;
	}

	.skills > .content-text {
		width: 60%;
		order: 1;
		margin: auto;
	}
}

